@page "/foo"

<PageTitle>Foo Example</PageTitle>

<h3>Foo List</h3>

@if (foos is not null)
{
    <ul>
        @foreach (var foo in foos)
        {
            <li>
                <strong>@foo.Title</strong>
                <p>ID: @foo.Id</p>
            </li>
        }
    </ul>
}
else
{
    <p>No foos available.</p>
}