@page "/foo"

<PageTitle>Foo Example</PageTitle>

<button class="btn btn-primary" @onclick="AddData">Add Dummy Data</button>

@if (Foos is not null)
{
    <ul>
        @foreach (var foo in Foos)
        {
            <li>
                <strong>@foo.Title</strong>
                <p>ID: @foo.Id</p>
                <p>By: @foo.Username</p>
            </li>
        }
    </ul>
}
else
{
    <p>No foos available.</p>
}